<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/file/updateFolder/<%=locals.folder.id%>" method="post">
      <label for="folderName">
        Folder Name:
        <input
          type="text"
          name="folderName"
          id="folderName"
          value="<%= locals.folder.name%>"
        />
      </label>
      <button type="submit">Update Folder</button>
    </form>
  </body>
</html>
